


@media only screen and (max-device-width: 480px) {

.exercise-details h2{
    font-size: 13px;
    font-weight: 700;
}

}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {

    .exercise-details h2{
        font-size: 13px;
        font-weight: 700;
    }
    
    }