.cards-all {
    border: 2px solid tomato;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    width: 70%;
    height: 475px;
}

.card-info{
    margin-bottom: 10px;
}

.btn-card-list {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: darksalmon;
}

.btn-card-list:hover {
    background-color: brown;
}

.card-img {
    max-width: 180px;
}