.user-image {
    max-width: 100px;
}

.sidebar-personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.health-properties {
    display: flex;
    justify-content: space-evenly;
    background-color: lightslategray;
    margin: 20px 15px;
    border-radius: 15px ;
}